---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import Pricing from '~/components/widgets/Pricing.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import { SITE } from 'astrowind:config';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'IpFlex - 全球IP代理',
  description: 'IpFlex提供全球IP代理，是一家专业的proxy服务供应商，帮助您轻松解锁地域限制，畅游全球网络。',
};

---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'secondary',
          text: 'Login',
          href: '#',
        },
        {
          variant: 'primary',
          text: 'Sign Up',
          href: '#',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget *******
      bg={`
      <div class="absolute inset-0">
        <div class="absolute inset-0 bg-[url('~/assets/images/index_top1.png')] bg-cover bg-center opacity-30"></div>
        <div class="absolute inset-0 bg-gradient-to-t from-page to-transparent"></div>
      </div>
    `} 
  ************ -->

  <Hero2
    title="超性价比，超稳定的IP代理"
    actions={[
      { variant: 'primary', target: '_blank', text: '立即注册', href: SITE?.dashboard },
      { text: '了解更多', href: '#features' },
    ]}

    image={{
      src: '~/assets/images/index_top1.png',
      alt: 'IpFlex Image',
    }}
  >
    <Fragment slot="title">
      全球IP代理，畅通无阻
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        从个人用户到企业客户，<br />
        IpFlex都能为您量身定制最优IP代理方案。<br />
        覆盖全球的IP资源池，稳定可靠的连接质量，灵活的计费模式，即刻开启您的无界网络体验。
      </span>
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="为什么选择IpFlex?"
    subtitle="每个功能都增强了IpFlex的价值主张。"
    columns={2}
    items={[
      {
        title: '全球IP资源池',
        description:
          '覆盖全球的IP资源池，稳定可靠的连接质量，灵活的计费模式，即刻开启您的无界网络体验。',
        icon: 'tabler:layers-union',
      },
      {
        title: '灵活的计费模式',
        description: `灵活的计费模式，即用即付，无需预付。`,
        icon: 'tabler:artboard',
      },
      {
        title: '高效的技术支持',
        description:
          '24小时技术支持，随时为您解答疑问。',
        icon: 'tabler:writing',
      },
      {
        title: '丰富的IP类型',
        description: `住宅代理、数据中心代理，轮换IP，满足您的各种需求。`,
        icon: 'tabler:podium',
      },
      {
        title: '快速稳定的连接',
        description: `使用IpFlex的IP代理，您可以享受到快速稳定的连接，无需担心网络延迟和连接不稳定的问题。`,
        icon: 'tabler:rocket',
      },
      {
        title: '无限带宽',
        description: `IpFlex提供无限带宽，让您无需担心流量限制的问题，超高速率，超低延迟。`,
        icon: 'tabler:eyeglass',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    title="应用场景"
    subtitle="IpFlex的灵活性和可定制性使其成为各种应用场景的理想解决方案。"
    isReversed
    items={[
      {
        title: '多地域展示',
        description:
          '企业能够灵活展示品牌形象，触达全球受众，洞悉各地市场动态。',
      },
      {
        title: '安全防护',
        description: `提升网络安全，隐藏真实IP，有效防范恶意攻击，保护品牌声誉免受威胁。`,
      },
      {
        title: '绕过地区限制',
        description: `克服社交媒体平台地区限制，确保营销信息无阻碍地传达到目标受众。`,
      },
      {
        title: '实时监测竞争对手',
        description: `以匿名方式观察竞争对手，获取实时市场情报，为企业策略调整提供关键信息。`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1620558138198-cfb9b4f3c294?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1671&q=80',
      alt: '跨境电商 Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        社媒营销: <br /><span class="text-2xl">助力企业全球化，洞悉全球市场</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent={true}
    items={[
      {
        title: '地域解锁',
        description: `IpFlex提供全球IP资源池，帮助您轻松解锁地域限制，畅游全球网络。`,
      },
      {
        title: '价格比较与优化',
        description: `实时比较不同市场的价格水平，优化产品定价，提高在国际市场的竞争力。`,
      },
      {
        title: '安全支付与数据保护',
        description: `提高电商平台上的支付安全性，隐藏用户数据，有效保护用户隐私。`,
      },
      {
        title: '实时市场洞察',
        description: `以匿名方式观察国际竞争对手，获取实时市场信息，为跨境电商制定灵活战略提供关键支持。`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1531973486364-5fa64260d75b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1658&q=80',
      alt: 'SaaS Businesses Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        跨境电商 <br /><span class="text-2xl">开启您的跨境电商之旅</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: '对抗欺诈',
        description: `有助于识别和防范欺诈行为，保障广告投放的真实性和有效性。`,
      },
      {
        title: '提升广告效果',
        description: `实现地域差异化验证，广告可以更精准地匹配目标受众，提高广告的点击率和转化率。`,
      },
      {
        title: '保障账号安全',
        description: `轮流验证广告，减少因高频操作而引起的账号封禁风险，确保稳定广告投放。`,
      },
      {
        title: '实时监测广告竞品',
        description: `以匿名方式监测竞争对手的广告策略，获取实时市场信息，为广告优化和调整提供有力支持。`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1635070041078-e363dbe005cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Portfolio Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        广告验证<br /><span class="text-2xl">护航广告战场，广告投放更精准有力！</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    items={[
      {
        title: '匿名保护',
        description: `确保企业品牌在互联网上的匿名性，减少品牌被追踪、恶意攻击的风险。`,
      },
      {
        title: '防范恶意行为:',
        description: `隐藏真实信息，有效预防黑客攻击、虚假宣传等恶意行为，保持品牌声誉完整。`,
      },
      {
        title: '规遍地域监管',
        description: `绕过地域监管，保护品牌在各地市场的一致性，规遍地域差异带来的潜在风险。`,
      },
      {
        title: '保护敏感信息',
        description: `隐藏企业敏感信息，如服务器位置等，有效防范信息泄露，维护品牌隐私。`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1514621166532-aa7eb1a3a2f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Small Business Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        品牌保护<br /><span class="text-2xl">保护品牌声誉，维护企业形象</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Pricing Widget ******************* -->

  <Pricing
    title="产品价格"
    prices={[
      {
        title: '固定流量',
        subtitle: '长效有效的静态住宅IP，IP地址固定，按使用量扣费',
        price: '5',
        period: '/ GB',
        callToAction: {
          target: '_blank',
          text: '免费试用',
          href: SITE?.dashboard,
        },
      },
      {
        title: '轮换流量',
        subtitle: '轮换住宅IP，IP地址轮换，指定地区内随机切换，按使用量扣费',
        price: '5',
        period: '/ GB',
        callToAction: {
          target: '_blank',
          text: '免费试用',
          href: SITE?.dashboard,
        },
        hasRibbon: true,
        ribbonTitle: '热门',
      },
      {
        title: '固定IP',
        subtitle: '长效有效的静态数据中心IP，IP地址固定，按天扣费',
        price: '3',
        period: '/ IP / 天',
        callToAction: {
          target: '_blank',
          text: '免费试用',
          href: SITE?.dashboard,
        },
      },
      {
        title: '轮换IP',
        subtitle: '短暂有效的轮换住宅IP，IP地址轮换，指定地区内随机切换，按个收费',
        price: '0.1',
        period: '/ 个',
        callToAction: {
          target: '_blank',
          text: '免费试用',
          href: SITE?.dashboard,
        },
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="常见问题"
    items={[
      {
        title: 'AstroWind与Astro和Tailwind CSS兼容吗？',
        description:
          '是的，AstroWind设计为与Astro和Tailwind CSS的最新版本兼容。这将确保您可以充分利用这些技术的能力，同时受益于AstroWind提供的功能。',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Can I use AstroWind for both personal and commercial projects?',
        description: `Certainly! AstroWind is versatile and can be used for a wide range of projects, including both personal and commercial endeavors. Whether you're building a professional portfolio, launching a startup, or creating a marketing website, AstroWind has you covered.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'What level of coding knowledge is required to use AstroWind?',
        description:
          'While some familiarity with HTML, CSS, and web development concepts is helpful, the user-friendly interface and customization options allow those with limited coding experience to create impressive websites. For more advanced users, AstroWind offers extensive customization capabilities.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Is customer support available for AstroWind users seeking guidance?',
        description: `Absolutely, our dedicated customer support team is here to assist you with any questions or challenges you may encounter. Feel free to reach out to us through our support channels, and we'll be happy to provide the help you need.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Reach out to us"
    subtitle="Have questions? Feel free to contact us using the form below. We're here to help!"
    callToAction={{
      text: 'Contact us',
      href: '/',
    }}
    items={[
      {
        title: 'Email us',
        description: 'contact@support.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Call us',
        description: '+1 (234) 567-890',
        icon: 'tabler:headset',
      },
      {
        title: 'Follow us',
        description: '@example',
        icon: 'tabler:brand-twitter',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Stay informed with AstroWind's blog"
    information={`Explore our collection of articles, guides, and tutorials on web development, design trends, and using AstroWind effectively for your projects.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
