---
import { SITE } from 'astrowind:config';
import { Image } from 'astro:assets';
import logo from '~/assets/images/lgog.png';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <Image src={logo} alt="Logo" class="inline-block h-10 w-10 mr-2" />
  {SITE?.name}
</span>
