---
import Layout from '@/layouts/PageLayout.astro';
import { getRelativeLocaleUrl } from 'astro:i18n';

const { lang } = Astro.params;
const url = getRelativeLocaleUrl(lang);
export async function getStaticPaths() {
  return [
    { params: { lang: 'en' } },
    { params: { lang: 'zh' } },
  ];
}

---
<Layout lang={lang}>
  <p>lang: {lang}</p>
  <p>url: {url}</p>
  <a href={url}>English</a>
</Layout>
